{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Item Delete Confirmation {% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Delete Item</h4>
                <hr>
                <div class='alert alert-danger'>
                    <h4>Are you sure you want to delete item from list?</h4>
                </div>
                <form method="POST">
                    <div class="form-group ">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <input class="btn btn-danger" type="submit" value="Confirm">
                        <a class='btn btn-secondary' href="{% url 'devices' %}"> Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}